.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.btn {
  padding: 6px 15px;
  font-size: 0.9em;
  background-color:chocolate;
  border: none;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
  margin: 20px 0;
  font-weight: 400;
}

.btn:hover {
  background-color: dimgray;
  font-size: 0.8em;
  font-weight: bold
}

